In [1]:
import keras

Using TensorFlow backend.

In [2]:
import pandas
from sklearn.utils import shuffle

In [3]:
raw_data = pandas.DataFrame.from_csv(path='../data/people_attributes.csv')
raw_data.head()

,occupation,description,gender
Barack Obama,Politician,44th President of the United States of America,male
Barbara Boxer,Politician,American politician,female
Bill Clinton,Politician,42nd President of the United States,male
Carly Fiorina,Politician,American corporate executive and politician,female
Clint Eastwood,Actor,actor and director from the United States,male

In [4]:
name_and_gender = raw_data['gender']
name_and_gender.head()

Barack Obama        male
Barbara Boxer     female
Bill Clinton        male
Carly Fiorina     female
Clint Eastwood      male
Name: gender, dtype: object

In [5]:
name_and_gender = shuffle(name_and_gender)
name_and_gender.head()

Robert Noel          male
Lindsey Graham       male
Mazie Hirono       female
Henry McKinnell      male
Lowell McAdam        male
Name: gender, dtype: object

In [6]:
name_and_gender.describe()

count      389
unique       2
top       male
freq       329
Name: gender, dtype: object