In [1]:
import keras

Using TensorFlow backend.

In [2]:
import pandas
from sklearn.utils import shuffle
import gensim
import numpy as np

In [3]:
raw_data = pandas.DataFrame.from_csv(path='../data/people_attributes.csv', index_col=None)
raw_data = raw_data.set_index('name', drop=False)
raw_data.head()

,name,occupation,description,gender
name,,,,
Barack Obama,Barack Obama,Politician,44th President of the United States of America,male
Barbara Boxer,Barbara Boxer,Politician,American politician,female
Bill Clinton,Bill Clinton,Politician,42nd President of the United States,male
Carly Fiorina,Carly Fiorina,Politician,American corporate executive and politician,female
Clint Eastwood,Clint Eastwood,Actor,actor and director from the United States,male

In [4]:
raw_data['gender'].replace('female', 0, inplace=True)
raw_data['gender'].replace('male', 1, inplace=True)
raw_data.head()

,name,occupation,description,gender
name,,,,
Barack Obama,Barack Obama,Politician,44th President of the United States of America,1
Barbara Boxer,Barbara Boxer,Politician,American politician,0
Bill Clinton,Bill Clinton,Politician,42nd President of the United States,1
Carly Fiorina,Carly Fiorina,Politician,American corporate executive and politician,0
Clint Eastwood,Clint Eastwood,Actor,actor and director from the United States,1

In [5]:
name_and_gender = raw_data['gender']
name_and_gender = shuffle(name_and_gender)
name_and_gender.head()

name
Maria Cantwell      0
Kevin Johnson       1
Marissa Mayer       0
Kelly Ayotte        0
Kushal Pal Singh    1
Name: gender, dtype: int64

In [6]:
name_and_gender.head()

name
Maria Cantwell      0
Kevin Johnson       1
Marissa Mayer       0
Kelly Ayotte        0
Kushal Pal Singh    1
Name: gender, dtype: int64

In [7]:
word2vec = gensim.models.KeyedVectors.load_word2vec_format('../data/GoogleNews-vectors-negative300.bin', binary=True)

In [9]:
name_and_gender['Barack Obama']

1

In [10]:
def _name_not_has_vec(name):
    try:
        word2vec.word_vec(name.replace(' ','_'))
        return False
    except:
        return True

In [11]:
truncated_name_and_gender = name_and_gender.drop([name for name in name_and_gender.keys() if _name_not_has_vec(name)])

In [12]:
truncated_name_and_gender.describe()

count    241.000000
mean       0.804979
std        0.397041
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: gender, dtype: float64

In [13]:
truncated_name_and_gender.head()

name
Maria Cantwell      0
Marissa Mayer       0
Kelly Ayotte        0
Kushal Pal Singh    1
Satya Prabhakar     1
Name: gender, dtype: int64

In [14]:
name_and_vector = pandas.DataFrame(truncated_name_and_gender.keys(), columns=['name'])
name_and_vector.head()

               name
0    Maria Cantwell
1     Marissa Mayer
2      Kelly Ayotte
3  Kushal Pal Singh
4   Satya Prabhakar

In [84]:
def _get_vector(row):
    return word2vec.word_vec(row.replace(' ','_')).flatten()

In [85]:
vectors = name_and_vector.name.map(_get_vector)
vectors = vectors.apply(pandas.Series)

In [86]:
vectors.values

array([[ 0.00939941, -0.1484375 , -0.20117188, ..., -0.21484375,
         0.15234375,  0.25585938],
       [-0.01257324,  0.24902344, -0.34570312, ..., -0.42382812,
         0.37890625, -0.00549316],
       [ 0.14648438,  0.02954102, -0.13769531, ...,  0.08056641,
        -0.18359375,  0.00263977],
       ...,
       [ 0.21582031,  0.32226562, -0.09863281, ..., -0.01831055,
        -0.54296875, -0.22363281],
       [-0.13867188, -0.23046875, -0.07519531, ...,  0.20507812,
        -0.19238281,  0.08105469],
       [-0.13964844,  0.07128906, -0.38476562, ..., -0.15429688,
        -0.01049805, -0.37304688]], dtype=float32)

In [35]:
just_binary_genders = np.array(truncated_name_and_gender)
just_binary_genders

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1])

In [92]:
train_data = vectors[:200].values
train_labels = just_binary_genders[:200]
test_data = vectors[200:].values
test_labels = just_binary_genders[200:]
train_data.shape

(200, 300)

In [108]:
model = keras.models.Sequential([
    keras.layers.Dense(1, input_shape=(300,), activation='sigmoid'),
    ])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 1)                 301
=================================================================
Total params: 301
Trainable params: 301
Non-trainable params: 0
_________________________________________________________________

In [109]:
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['accuracy'])

In [110]:
model.fit(train_data, train_labels, verbose=2, epochs=100, validation_data=(test_data, test_labels))

Train on 200 samples, validate on 41 samples
Epoch 1/100
0s - loss: 0.2577 - acc: 0.4650 - val_loss: 0.2279 - val_acc: 0.6098
Epoch 2/100
0s - loss: 0.2332 - acc: 0.6700 - val_loss: 0.2058 - val_acc: 0.8293
Epoch 3/100
0s - loss: 0.2134 - acc: 0.7450 - val_loss: 0.1874 - val_acc: 0.7805
Epoch 4/100
0s - loss: 0.1961 - acc: 0.7750 - val_loss: 0.1746 - val_acc: 0.8293
Epoch 5/100
0s - loss: 0.1845 - acc: 0.7850 - val_loss: 0.1636 - val_acc: 0.8293
Epoch 6/100
0s - loss: 0.1736 - acc: 0.7950 - val_loss: 0.1551 - val_acc: 0.8537
Epoch 7/100
0s - loss: 0.1655 - acc: 0.7950 - val_loss: 0.1479 - val_acc: 0.8537
Epoch 8/100
0s - loss: 0.1585 - acc: 0.7950 - val_loss: 0.1419 - val_acc: 0.8537
Epoch 9/100
0s - loss: 0.1528 - acc: 0.7950 - val_loss: 0.1371 - val_acc: 0.8537
Epoch 10/100
0s - loss: 0.1481 - acc: 0.7950 - val_loss: 0.1330 - val_acc: 0.8537
Epoch 11/100
0s - loss: 0.1441 - acc: 0.7950 - val_loss: 0.1298 - val_acc: 0.8537
Epoch 12/100
0s - loss: 0.1406 - acc: 0.7950 - val_loss: 0.1274 - val_acc: 0.8537
Epoch 13/100
0s - loss: 0.1375 - acc: 0.7950 - val_loss: 0.1252 - val_acc: 0.8537
Epoch 14/100
0s - loss: 0.1346 - acc: 0.8000 - val_loss: 0.1232 - val_acc: 0.8537
Epoch 15/100
0s - loss: 0.1320 - acc: 0.8000 - val_loss: 0.1218 - val_acc: 0.8537
Epoch 16/100
0s - loss: 0.1293 - acc: 0.8050 - val_loss: 0.1203 - val_acc: 0.8537
Epoch 17/100
0s - loss: 0.1268 - acc: 0.8050 - val_loss: 0.1189 - val_acc: 0.8537
Epoch 18/100
0s - loss: 0.1245 - acc: 0.8050 - val_loss: 0.1176 - val_acc: 0.8537
Epoch 19/100
0s - loss: 0.1220 - acc: 0.8100 - val_loss: 0.1161 - val_acc: 0.8780
Epoch 20/100
0s - loss: 0.1199 - acc: 0.8150 - val_loss: 0.1149 - val_acc: 0.8780
Epoch 21/100
0s - loss: 0.1177 - acc: 0.8200 - val_loss: 0.1138 - val_acc: 0.8780
Epoch 22/100
0s - loss: 0.1156 - acc: 0.8300 - val_loss: 0.1128 - val_acc: 0.8780
Epoch 23/100
0s - loss: 0.1135 - acc: 0.8400 - val_loss: 0.1115 - val_acc: 0.8780
Epoch 24/100
0s - loss: 0.1114 - acc: 0.8450 - val_loss: 0.1103 - val_acc: 0.9024
Epoch 25/100
0s - loss: 0.1095 - acc: 0.8500 - val_loss: 0.1091 - val_acc: 0.9024
Epoch 26/100
0s - loss: 0.1077 - acc: 0.8500 - val_loss: 0.1078 - val_acc: 0.9024
Epoch 27/100
0s - loss: 0.1059 - acc: 0.8500 - val_loss: 0.1068 - val_acc: 0.9024
Epoch 28/100
0s - loss: 0.1039 - acc: 0.8600 - val_loss: 0.1061 - val_acc: 0.9024
Epoch 29/100
0s - loss: 0.1022 - acc: 0.8600 - val_loss: 0.1053 - val_acc: 0.9024
Epoch 30/100
0s - loss: 0.1002 - acc: 0.8650 - val_loss: 0.1046 - val_acc: 0.9024
Epoch 31/100
0s - loss: 0.0986 - acc: 0.8850 - val_loss: 0.1039 - val_acc: 0.9024
Epoch 32/100
0s - loss: 0.0969 - acc: 0.8900 - val_loss: 0.1030 - val_acc: 0.9024
Epoch 33/100
0s - loss: 0.0951 - acc: 0.8950 - val_loss: 0.1021 - val_acc: 0.9024
Epoch 34/100
0s - loss: 0.0936 - acc: 0.8950 - val_loss: 0.1014 - val_acc: 0.9024
Epoch 35/100
0s - loss: 0.0921 - acc: 0.8950 - val_loss: 0.1006 - val_acc: 0.9024
Epoch 36/100
0s - loss: 0.0906 - acc: 0.9000 - val_loss: 0.0998 - val_acc: 0.9024
Epoch 37/100
0s - loss: 0.0892 - acc: 0.9000 - val_loss: 0.0988 - val_acc: 0.9024
Epoch 38/100
0s - loss: 0.0877 - acc: 0.9100 - val_loss: 0.0980 - val_acc: 0.9024
Epoch 39/100
0s - loss: 0.0864 - acc: 0.9100 - val_loss: 0.0972 - val_acc: 0.9024
Epoch 40/100
0s - loss: 0.0850 - acc: 0.9150 - val_loss: 0.0965 - val_acc: 0.9024
Epoch 41/100
0s - loss: 0.0837 - acc: 0.9150 - val_loss: 0.0958 - val_acc: 0.9024
Epoch 42/100
0s - loss: 0.0825 - acc: 0.9200 - val_loss: 0.0951 - val_acc: 0.9024
Epoch 43/100
0s - loss: 0.0812 - acc: 0.9250 - val_loss: 0.0944 - val_acc: 0.9024
Epoch 44/100
0s - loss: 0.0800 - acc: 0.9300 - val_loss: 0.0937 - val_acc: 0.9024
Epoch 45/100
0s - loss: 0.0788 - acc: 0.9450 - val_loss: 0.0930 - val_acc: 0.9024
Epoch 46/100
0s - loss: 0.0776 - acc: 0.9450 - val_loss: 0.0925 - val_acc: 0.9024
Epoch 47/100
0s - loss: 0.0764 - acc: 0.9550 - val_loss: 0.0919 - val_acc: 0.9024
Epoch 48/100
0s - loss: 0.0753 - acc: 0.9550 - val_loss: 0.0914 - val_acc: 0.9024
Epoch 49/100
0s - loss: 0.0741 - acc: 0.9550 - val_loss: 0.0907 - val_acc: 0.9024
Epoch 50/100
0s - loss: 0.0730 - acc: 0.9550 - val_loss: 0.0901 - val_acc: 0.9024
Epoch 51/100
0s - loss: 0.0719 - acc: 0.9550 - val_loss: 0.0895 - val_acc: 0.9024
Epoch 52/100
0s - loss: 0.0709 - acc: 0.9550 - val_loss: 0.0889 - val_acc: 0.9024
Epoch 53/100
0s - loss: 0.0699 - acc: 0.9550 - val_loss: 0.0885 - val_acc: 0.8780
Epoch 54/100
0s - loss: 0.0690 - acc: 0.9550 - val_loss: 0.0879 - val_acc: 0.8780
Epoch 55/100
0s - loss: 0.0680 - acc: 0.9600 - val_loss: 0.0873 - val_acc: 0.8780
Epoch 56/100
0s - loss: 0.0670 - acc: 0.9600 - val_loss: 0.0867 - val_acc: 0.8780
Epoch 57/100
0s - loss: 0.0661 - acc: 0.9600 - val_loss: 0.0862 - val_acc: 0.8780
Epoch 58/100
0s - loss: 0.0653 - acc: 0.9600 - val_loss: 0.0858 - val_acc: 0.8780
Epoch 59/100
0s - loss: 0.0644 - acc: 0.9600 - val_loss: 0.0853 - val_acc: 0.8780
Epoch 60/100
0s - loss: 0.0636 - acc: 0.9600 - val_loss: 0.0847 - val_acc: 0.8780
Epoch 61/100
0s - loss: 0.0627 - acc: 0.9600 - val_loss: 0.0844 - val_acc: 0.8780
Epoch 62/100
0s - loss: 0.0619 - acc: 0.9600 - val_loss: 0.0839 - val_acc: 0.8780
Epoch 63/100
0s - loss: 0.0611 - acc: 0.9600 - val_loss: 0.0834 - val_acc: 0.8780
Epoch 64/100
0s - loss: 0.0603 - acc: 0.9600 - val_loss: 0.0828 - val_acc: 0.8780
Epoch 65/100
0s - loss: 0.0596 - acc: 0.9600 - val_loss: 0.0824 - val_acc: 0.8780
Epoch 66/100
0s - loss: 0.0588 - acc: 0.9600 - val_loss: 0.0819 - val_acc: 0.8780
Epoch 67/100
0s - loss: 0.0581 - acc: 0.9600 - val_loss: 0.0815 - val_acc: 0.9024
Epoch 68/100
0s - loss: 0.0574 - acc: 0.9600 - val_loss: 0.0810 - val_acc: 0.9024
Epoch 69/100
0s - loss: 0.0567 - acc: 0.9600 - val_loss: 0.0806 - val_acc: 0.9024
Epoch 70/100
0s - loss: 0.0560 - acc: 0.9600 - val_loss: 0.0802 - val_acc: 0.9024
Epoch 71/100
0s - loss: 0.0554 - acc: 0.9600 - val_loss: 0.0798 - val_acc: 0.9024
Epoch 72/100
0s - loss: 0.0547 - acc: 0.9600 - val_loss: 0.0793 - val_acc: 0.9024
Epoch 73/100
0s - loss: 0.0541 - acc: 0.9600 - val_loss: 0.0790 - val_acc: 0.9024
Epoch 74/100
0s - loss: 0.0535 - acc: 0.9600 - val_loss: 0.0786 - val_acc: 0.9024
Epoch 75/100
0s - loss: 0.0529 - acc: 0.9600 - val_loss: 0.0783 - val_acc: 0.9268
Epoch 76/100
0s - loss: 0.0523 - acc: 0.9600 - val_loss: 0.0779 - val_acc: 0.9268
Epoch 77/100
0s - loss: 0.0517 - acc: 0.9600 - val_loss: 0.0775 - val_acc: 0.9268
Epoch 78/100
0s - loss: 0.0511 - acc: 0.9600 - val_loss: 0.0772 - val_acc: 0.9268
Epoch 79/100
0s - loss: 0.0506 - acc: 0.9600 - val_loss: 0.0769 - val_acc: 0.9268
Epoch 80/100
0s - loss: 0.0500 - acc: 0.9600 - val_loss: 0.0766 - val_acc: 0.9268
Epoch 81/100
0s - loss: 0.0495 - acc: 0.9600 - val_loss: 0.0762 - val_acc: 0.9268
Epoch 82/100
0s - loss: 0.0489 - acc: 0.9600 - val_loss: 0.0760 - val_acc: 0.9268
Epoch 83/100
0s - loss: 0.0484 - acc: 0.9650 - val_loss: 0.0758 - val_acc: 0.9268
Epoch 84/100
0s - loss: 0.0479 - acc: 0.9650 - val_loss: 0.0757 - val_acc: 0.9268
Epoch 85/100
0s - loss: 0.0474 - acc: 0.9650 - val_loss: 0.0754 - val_acc: 0.9268
Epoch 86/100
0s - loss: 0.0469 - acc: 0.9650 - val_loss: 0.0750 - val_acc: 0.9268
Epoch 87/100
0s - loss: 0.0464 - acc: 0.9700 - val_loss: 0.0747 - val_acc: 0.9268
Epoch 88/100
0s - loss: 0.0459 - acc: 0.9700 - val_loss: 0.0744 - val_acc: 0.9268
Epoch 89/100
0s - loss: 0.0455 - acc: 0.9700 - val_loss: 0.0742 - val_acc: 0.9268
Epoch 90/100
0s - loss: 0.0450 - acc: 0.9700 - val_loss: 0.0741 - val_acc: 0.9268
Epoch 91/100
0s - loss: 0.0446 - acc: 0.9700 - val_loss: 0.0738 - val_acc: 0.9268
Epoch 92/100
0s - loss: 0.0441 - acc: 0.9700 - val_loss: 0.0734 - val_acc: 0.9268
Epoch 93/100
0s - loss: 0.0437 - acc: 0.9700 - val_loss: 0.0732 - val_acc: 0.9268
Epoch 94/100
0s - loss: 0.0433 - acc: 0.9700 - val_loss: 0.0730 - val_acc: 0.9268
Epoch 95/100
0s - loss: 0.0429 - acc: 0.9700 - val_loss: 0.0728 - val_acc: 0.9268
Epoch 96/100
0s - loss: 0.0424 - acc: 0.9700 - val_loss: 0.0726 - val_acc: 0.9268
Epoch 97/100
0s - loss: 0.0421 - acc: 0.9750 - val_loss: 0.0723 - val_acc: 0.9268
Epoch 98/100
0s - loss: 0.0417 - acc: 0.9750 - val_loss: 0.0720 - val_acc: 0.9268
Epoch 99/100
0s - loss: 0.0413 - acc: 0.9750 - val_loss: 0.0717 - val_acc: 0.9268
Epoch 100/100
0s - loss: 0.0410 - acc: 0.9750 - val_loss: 0.0715 - val_acc: 0.9268

In [132]:
test_predict = model.predict(test_data)
test_predict

array([[ 0.82870197],
       [ 0.77971435],
       [ 0.87402689],
       [ 0.97314125],
       [ 0.74221998],
       [ 0.80812418],
       [ 0.8621847 ],
       [ 0.9106319 ],
       [ 0.64999831],
       [ 0.44281057],
       [ 0.87099701],
       [ 0.88975173],
       [ 0.85612589],
       [ 0.97617835],
       [ 0.96385831],
       [ 0.78015208],
       [ 0.91499949],
       [ 0.97594589],
       [ 0.24922973],
       [ 0.81384611],
       [ 0.91863841],
       [ 0.66546541],
       [ 0.35794035],
       [ 0.72538179],
       [ 0.71342397],
       [ 0.91353798],
       [ 0.4794949 ],
       [ 0.81853193],
       [ 0.7869367 ],
       [ 0.92711145],
       [ 0.94755   ],
       [ 0.42940682],
       [ 0.89408821],
       [ 0.77572149],
       [ 0.82696468],
       [ 0.98620403],
       [ 0.62208581],
       [ 0.822106  ],
       [ 0.98360461],
       [ 0.94520593],
       [ 0.94627374]], dtype=float32)

In [113]:
test_labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1])

In [114]:
test_names = truncated_name_and_gender[200:]
test_names

name
Bharat Desai          1
Chris Coons           1
Wilfred Kiboro        1
John P. Surma         1
Sheldon Whitehouse    1
Tom Udall             1
Harry Reid            1
Jeb Bush              1
David Vitter          1
Susana Martinez       0
Gregory Wasson        1
Joe Manchin           1
Carol Meyrowitz       0
Anil Ambani           1
Gregg Steinhafel      1
Doug Ducey            1
Richard Fairbank      1
Jeff Bezos            1
Anne Hathaway         0
Rajeev Suri           1
John Kasich           1
Tatsumi Kimishima     1
Margot Robbie         0
Bill Clinton          1
Cory Booker           1
Jesse Eisenberg       1
Ben Cardin            1
Tom Cruise            1
Martin O'Malley       1
Robert Redford        1
John Thain            1
Meg Whitman           0
Thom Tillis           1
Butch Otter           1
Sergio Ermotti        1
Dieter Zetsche        1
Debbie Stabenow       0
Devin Wenig           1
Elon Musk             1
Bernie Sanders        1
Bob Menendez          1
Name: gender, dtype: int64

In [135]:
test_names.shape
test_predict_extracted = []
for i in test_predict:
    test_predict_extracted.append(i[0])
test_predict_extracted
#test_predict = pandas.Series(test_predict[0])

[0.82870197,
 0.77971435,
 0.87402689,
 0.97314125,
 0.74221998,
 0.80812418,
 0.8621847,
 0.9106319,
 0.64999831,
 0.44281057,
 0.87099701,
 0.88975173,
 0.85612589,
 0.97617835,
 0.96385831,
 0.78015208,
 0.91499949,
 0.97594589,
 0.24922973,
 0.81384611,
 0.91863841,
 0.66546541,
 0.35794035,
 0.72538179,
 0.71342397,
 0.91353798,
 0.4794949,
 0.81853193,
 0.7869367,
 0.92711145,
 0.94755,
 0.42940682,
 0.89408821,
 0.77572149,
 0.82696468,
 0.98620403,
 0.62208581,
 0.822106,
 0.98360461,
 0.94520593,
 0.94627374]

In [142]:
test_predict_extracted = pandas.DataFrame(test_predict_extracted)

In [143]:
test_predict_extracted

           0
0   0.828702
1   0.779714
2   0.874027
3   0.973141
4   0.742220
5   0.808124
6   0.862185
7   0.910632
8   0.649998
9   0.442811
10  0.870997
11  0.889752
12  0.856126
13  0.976178
14  0.963858
15  0.780152
16  0.914999
17  0.975946
18  0.249230
19  0.813846
20  0.918638
21  0.665465
22  0.357940
23  0.725382
24  0.713424
25  0.913538
26  0.479495
27  0.818532
28  0.786937
29  0.927111
30  0.947550
31  0.429407
32  0.894088
33  0.775721
34  0.826965
35  0.986204
36  0.622086
37  0.822106
38  0.983605
39  0.945206
40  0.946274

In [145]:
test_names_predictions = pandas.DataFrame(test_names)
test_names_predictions = test_names_predictions.map(test_predict_extracted)

AttributeError: 'DataFrame' object has no attribute 'map'